apps/automation/workflows/O59HjSzD4t2zNIRv.json
{
  "updatedAt": "2025-11-29T20:34:53.168Z",
  "createdAt": "2025-11-29T17:57:46.988Z",
  "id": "O59HjSzD4t2zNIRv",
  "name": "Generate Page",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "title": "={{ $json.output.title }}",
        "content": "={{ $json.output.description }}"
      },
      "type": "CUSTOM.genAiPageGenerationComplete",
      "typeVersion": 1,
      "position": [
        288,
        -32
      ],
      "id": "ecdcb566-5b7f-4b40-b111-4b963cc34154",
      "name": "GenAI: PageGeneration Complete"
    },
    {
      "parameters": {},
      "type": "CUSTOM.genAiPageGenerationTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        -32
      ],
      "id": "49bd074e-fc7c-4883-a59f-d3313c68990d",
      "name": "@ PageGeneration Trigger",
      "webhookId": "ecd0f87a-d863-47a9-98c0-362a03229fc6"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"title of the page\",\n\t\"description\": \"description of the page\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -80,
        192
      ],
      "id": "83a6108c-3ded-4853-802d-897a90b032b5",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -96,
        400
      ],
      "id": "616d3168-dfdd-4578-9c84-16902eb2e9eb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GOEK4j4pctiNhdgx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Ecrit le titre et la description pour une page sur le theme fourni. retourne un json qui contient \"title\" et description, rien d'autre du pure json. "
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -160,
        -32
      ],
      "id": "a8e7f63c-4a15-48b5-b9b5-0a4d9a8c5734",
      "name": "Generate Metadata"
    }
  ],
  "connections": {
    "@ PageGeneration Trigger": {
      "main": [
        [
          {
            "node": "Generate Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Metadata",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Metadata",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Metadata": {
      "main": [
        [
          {
            "node": "GenAI: PageGeneration Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "global": {
      "__genai_workflowId": "7fe9c9a7-10e5-4ad7-afda-d0a73d454b64"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "@ PageGeneration Trigger": [
      {
        "json": {
          "userId": "k4xd0LFFBiJUCULyJLAGw7vtwGuvWmhU",
          "prompt": "Une belle page"
        }
      }
    ]
  },
  "versionId": "19763c0a-e769-4d3b-a8a3-62572ae3b788",
  "versionCounter": 56,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-29T17:57:46.988Z",
      "createdAt": "2025-11-29T17:57:46.988Z",
      "role": "workflow:owner",
      "workflowId": "O59HjSzD4t2zNIRv",
      "projectId": "UB6VcGqVOrq3em4j",
      "project": {
        "updatedAt": "2025-11-28T20:51:41.889Z",
        "createdAt": "2025-11-28T20:51:10.705Z",
        "id": "UB6VcGqVOrq3em4j",
        "name": "Manu Bernard <sys@avqn.ch>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}